:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --border-color: #3f0097;
    --one-use-color: #3f0097;
    --two-use-color: #5500cb;
  }
  

.product-detail {
    width: 70%;
  background-color: var(--background-color1);
  padding: 20px;
}

.product-content {
  background-color: var(--background-color2);
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 8px;
}

.product-content h3 {
  color: var(--primary-color);
}

.product-content p {
  color: var(--secondary-color);
}
.edit-btn {
    background-color: var(--one-use-color);
    color: var(--background-color2);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
  }
  
  .edit-btn {
    background-color: var(--two-use-color);
    margin-left: 10px;
  }